html,
body {
	height: 100%;
	background: white;
}

.mui-content {
	background: white;
}

.mui-input-row label {
	width: 40%;
}

.mui-input-row label~input,
.mui-input-row label~select,
.mui-input-row label~textarea {
	width: 60%;
}

.mui-btn {
	padding: 5px 0;
	border: 1px;
}
.fontblod{
	font-weight: bolder;
}
.mui-input-group {}

.ishidden {
	display: none;
}

#topPopover {
	position: fixed;
	top: 16px;
	right: 6px;
}

#topPopover .mui-popover-arrow {
	left: auto;
	right: 6px;
}

.mui-popover {
	height: 30%;
	width: 60%;
}

.mui-table-view-cell a {
	text-decoration: none;
	color: black;
}

.mui-table-view-cell a span {
	font-size: 1.2rem;
}

.upload_img {
	margin-left: 1rem;
}
.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	/* 閿熸枻鎷锋姘村钩閿熸枻鎷烽敓鏂ゆ嫹閿熸枻鎷� */
	overflow-x: hidden;
}
/* IE 6 閿熸枻鎷锋敮閿熸枻鎷� max-height
   * 閿熸枻鎷烽敓鏂ゆ嫹浣块敓鏂ゆ嫹 height 閿熸枻鎷烽敓鑺ワ紝閿熸枻鎷烽敓鏂ゆ嫹閿熸枻鎷烽敓瑙掑尅鎷锋拠璇撮敓鏂ゆ嫹閿熸枻鎷烽敓鏂ゆ嫹閿熺粸鐤氼亷鎷锋瓑閿熸枻鎷峰彣閿燂拷
   */
* html .ui-autocomplete {
	height: 100px;
}

.detail_H th,
	.detail_H td {
		text-indent: 1rem;
		/*border: 1px solid red;*/
		height: 3rem;
		border-bottom: 1px solid gray;
	}
	
	.detail_H table {
		background: pink;
	}