
.fl {
	float: left;
}
.fr {
	float: right;
}
.clear:after {
	content: '';
	display: block;
	clear: both;
}
/*上传图片插件的样�?*/

.z_photo{

	/*padding: 18px;*/
}
.z_photo {
	position: relative;
}
 .file{
	width: 100%;
	height: 100%;
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
}
.close-upimg{
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 10;
	display: block;
	width: 20px;
	}


.z_photo .up-section{
	position: relative;
	margin-right: 20px;
	
}
.up-section .up-span{
	display: block;
	width: 100%;
	height: 100%;
	visibility: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 9;
	background: rgba(0,0,0,.5);
}
.up-opcity{
	opacity: 0;
}
.img-name-p{
	display: none;
}
.up-img{
	width: 100px;
	height: 100px;
}


.loading{
    border: 1px solid #D1D1D1;
	background:url(../images/loading.gif) no-repeat center;
}










